{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <h3>this is test for quote</h3>
    <div>
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Symbol</th>
                <th scope="col">Price</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ stock["name"] }}</td>
                <td>{{ stock["symbol"] }}</td>
                <td>{{ "${:0,.2f}".format(stock["price"]) }}</td>
              </tr>
            </tbody>
          </table>
    </div>
{% endblock %}